@import '../styles/helpers/_variables';

.box {
	background-color: $grey-background;
	width: 300px;
	margin: 50px auto;
	border-radius: 5px;

	p {
		text-align: center;
		font-weight: bold;
		font-size: 20px;
		padding: 20px;
		color: $blue-link;
	}
}